/* ─── Css Variables ──────────────────────────────────────────────────────────────────────── ✣ ─ */
:root {
	/* Fonts */
	--font-family-main: 'Lagu Sans', 'Segoe UI', Arial, sans-serif;

	/* Colors */
	--accent-color: 194 168 105;
	--muted-color: 154 166 180;
	--warning-color: 255 111 111;

	/* Tiers */
	--tier-one: 142 183 128;
	--tier-two: 196 239 255;
	--tier-three: 239 182 247;
	--tier-four: 247 220 187;

	/* Backgrounds */
	--background: 32 34 37;
	--background-main: rgb(var(--background) / 0.82);
	--background-sec: rgb(var(--background) / 0.52);

	--background-modal: rgb(2 4 7 / 0.82);

	/* Borders */
	--border-main: 1px solid rgb(var(--accent-color) / 0.7);
	--border-radius-main: 4px;
	--border-radius-sec: 10px;

	/* Spacing */
	--spacing-main: 12px;

	/* Gradients */
	--gradient-main-start: rgb(237 228 217 / 0.6);
	--gradient-main-stop: rgb(219 201 153 / 0.3);
	--gradient-segment: linear-gradient(0deg, rgb(134 141 156 / 0.1) 0%, rgba(134 141 156 / 0.3) 20%, rgba(134 141 156 / 0.3) 80%, rgba(134 141 156 / 0.1) 100%);

	/* Animations */
	--transition-main: all 0.3s ease-in;

	/* Misc */
	--halftone-dotsize: 0.25em;
}

/* ─── Fonts ──────────────────────────────────────────────────────────────────────────────── ✣ ─ */
@font-face {
	font-family: 'Lagu Sans';
	src: local('Lagu Sans Bold'), local('Lagu-Sans-Bold'), url('./media/font/LaguSans-Bold.woff2') format('woff2'), url('./media/font/LaguSans-Bold.woff') format('woff'),
		url('./media/font/LaguSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

/* ─── Style Resets ───────────────────────────────────────────────────────────────────────── ✣ ─ */
* {
	box-sizing: border-box;
}

/* ─── Helper Classes ─────────────────────────────────────────────────────────────────────── ✣ ─ */
.hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

/* ─── Page Body ──────────────────────────────────────────────────────────────────────────── ✣ ─ */
body {
	display: flex;
	justify-content: center;
	margin: 0;
	font-family: var(--font-family-main);
	min-height: 100vh;
	color: rgb(243 246 250);
}

body[data-export] {
	width: 1200px;
	height: 1200px;
}

/* ─── Background Canvas ──────────────────────────────────────────────────────────────────── ✣ ─ */
.canvas {
	position: absolute;
	z-index: -1;
	overflow: hidden;
}

.canvas::before {
	content: '';
	position: fixed;
	left: 50%;
	top: 50%;
	width: 200vmax;
	height: 200vmax;
	transform: translate(-50%, -50%) rotate(45deg);
	background: radial-gradient(circle at center, rgb(0 0 0 / 0.8), rgb(0 0 0 / 0.2));
	background-size: var(--halftone-dotsize) var(--halftone-dotsize);
}

.canvas img {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	mix-blend-mode: hard-light;
}

/* ─── Showcase ───────────────────────────────────────────────────────────────────────────── ✣ ─ */
.showcase {
	min-height: 100vh;
	width: 100%;
	max-width: 924px;
	display: flex;
	gap: var(--spacing-main);
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
	font-size: 2.4rem;
	text-shadow: 2px 2px 3px rgb(0 0 0 / 0.4), 2px 5px 13px rgb(0 0 0 / 0.1), 2px 12px 23px rgb(0 0 0 / 0.1);
	text-align: center;
	margin: 0;
}

/* ─── Card ───────────────────────────────────────────────────────────────────────────────── ✣ ─ */
.card {
	padding: 0;
	background-size: contain, 100%, cover;
	background-position: center;
	background-repeat: no-repeat;
}

.backdrop,
.artwork {
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: var(--border-radius-sec);
}

.backdrop {
	object-fit: fill;
	filter: blur(4px) brightness(0.5);
}

.artwork {
	object-fit: contain;
}

/* ─── Echoes ─────────────────────────────────────────────────────────────────────────────── ✣ ─ */
/* Container */
.echo-fields {
	display: flex;
	width: 100%;
	gap: var(--spacing-main);
	flex-wrap: wrap;
	justify-content: center;
}

/* Echo */
.echo {
	display: flex;
	opacity: 0;
	transition: var(--transition-main);
	background: var(--background-main);
	bottom: 0;
	right: 0;
	border: var(--border-main);
	border-radius: var(--border-radius-sec);
	padding: var(--spacing-main);
	width: 300px;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	gap: var(--spacing-main);
	backdrop-filter: blur(3px);
}

.echo hr {
	width: 85%;
	border: 1px solid rgb(var(--accent-color) / 0.2);
	margin: 0;
}

.echo-title,
.info-title {
	font-size: 1.05em;
	letter-spacing: 1px;
}

/* Stat Bars */
.echo-bar {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	border-radius: var(--border-radius-main);
	font-size: 0.8em;
	font-weight: 500;
	transition: var(--transition-main);
	box-shadow: 0 1px 4px 0 rgb(76 110 245 / 0.07);
}

.echo-bar .icon {
	width: 1.4rem;
	height: 1.4rem;
	margin: 0 4px;
}

.echo-bar .title {
	width: 70%;
	padding: 8px;
	text-shadow: 1px 1px 1px #000000;
}

.echo-bar .value {
	justify-self: flex-end;
	text-align: right;
	width: 30%;
	height: 100%;
	align-content: center;
	border-right: 4px solid transparent;
	border-radius: var(--border-radius-main);
	padding: 8px 10px 8px 0;
	font-weight: 600;
	font-size: 0.98em;
	text-shadow: 1px 1px 1px #000000;
	transition: var(--transition-main);
}

/* Manual Echo Input */
.echo.custom {
	width: 488px;
}

.echo > .row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	gap: var(--spacing-main);
}

.echo .selection-container {
	position: relative;
	width: 70%;
	transition: var(--transition-main);
	border-radius: var(--border-radius-main);
}

.echo .selection-container > select {
	width: 100%;
}

.echo .selection-container .segments {
	position: absolute;
	top: 0;
	border-radius: var(--border-radius-main);
	overflow: hidden;
	z-index: -1;
}

.echo select {
	background: var(--background-sec);
	border: none;
	border-radius: var(--border-radius-main);
	color: #fff;
	padding: 8px 0;
	width: 30%;
	min-width: 0;
	font-family: var(--font-family-main);
	font-size: 0.9rem;
}

.echo select[char] {
	width: 50%;
	text-align: center;
}

.echo select > option {
	background: var(--background-main);
}

/* ─── Segment Display ────────────────────────────────────────────────────────────────────── ✣ ─ */
.segments {
	position: absolute;
	display: flex;
	flex-direction: row;
	gap: 2px;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.segments > div {
	width: 12.5%;
	height: 100%;
	background: var(--background-sec);
	z-index: -1;
}

.segments > div[active] {
	background: var(--gradient-segment);
}

/* ─── Filter Functions ───────────────────────────────────────────────────────────────────── ✣ ─ */
/* Filter Controls */
.filters {
	border: var(--border-main);
	border-radius: var(--border-radius-sec);
	padding: 6px;
	background: var(--background-main);
	transition: var(--transition-main);
}

.filter-button {
	color: rgb(var(--muted-color));
	display: inline-block;
	padding: 4px 6px;
	pointer-events: all;
	border-radius: var(--border-radius-main);
	border: 1px solid rgb(255 255 255 / 0.2);
	text-align: center;
	font-size: 0.8rem;
	box-shadow: 0 1px 4px 0 rgb(76 110 245 / 0.07);
	cursor: pointer;
	user-select: none;
}

.filter-button.active {
	color: #fff;
	background: url('./media/img/bg-gradient.png');
	background-size: cover;
	border: var(--border-main);
}

.filter-button.active:before {
	content: '✓';
	padding-right: 4px;
}

/* Full */
.showcase[filter='weight'] [data-weight^='1'],
.showcase[filter='weight'] [data-weight^='2'],
.showcase[filter='crit'] [crit='true'] {
	background: url('./media/img/bg-gradient.png') center/100% 100%;
	box-shadow: 0 0 0 1px rgb(var(--accent-color) / 0.7);
}

/* Partly */
.showcase[filter='weight'] [data-weight='0.8'] {
	box-shadow: 0 0 0 1px rgb(var(--muted-color) / 0.6);
}

.showcase[filter='weight'] [data-weight='0'],
.showcase[filter='crit'] [crit='false'] {
	opacity: 0.2;
}

/* Replaceability */
.echo-title[replace]:after {
	content: attr(replace);
	opacity: 0;
	position: absolute;
	right: var(--spacing-main);
	font-size: 0.8rem;
	padding: 2px 6px;
	background: rgb(var(--accent-color) / 0.2);
	border-radius: var(--border-radius-main);
	border: var(--border-main);
	transition: var(--transition-main);
}

.showcase[replace='show'] .echo-title[replace]:after {
	opacity: 1;
}

/* Tiers */
.showcase[tiers='show'] [tier='1'],
.showcase[tiers='show'] [tier='2'] {
	color: rgb(var(--tier-one) / 1);
	border-right: 4px solid rgb(var(--tier-one) / 0.7);
}

.showcase[tiers='show'] [tier='3'],
.showcase[tiers='show'] [tier='4'] {
	color: rgb(var(--tier-two) / 1);
	border-right: 4px solid rgb(var(--tier-two) / 0.7);
}

.showcase[tiers='show'] [tier='5'],
.showcase[tiers='show'] [tier='6'] {
	color: rgb(var(--tier-three) / 1);
	border-right: 4px solid rgb(var(--tier-three) / 0.7);
}

.showcase[tiers='show'] [tier='7'],
.showcase[tiers='show'] [tier='8'] {
	color: rgb(var(--tier-four) / 1);
	border-right: 4px solid rgb(var(--tier-four) / 0.7);
}

/* ─── Rating ─────────────────────────────────────────────────────────────────────────────── ✣ ─ */
.ratings {
	display: flex;
	gap: var(--spacing-main);
	transition: var(--transition-main);
}

.echo-score {
	display: flex;
	position: relative;
	background: var(--background-main);
	border-radius: var(--border-radius-sec);
	border: var(--border-main);
	padding: 6px 10px 8px 10px;
	width: 180px;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size: 1.2rem;
	letter-spacing: 1px;
	box-shadow: 0 2px 14px rgba(0 0 0 / 0.13);
}

.echo-score .sub-value {
	font-size: 0.8rem;
}

.sub-value {
	color: rgb(var(--muted-color));
}

/* ─── Control Elements ───────────────────────────────────────────────────────────────────── ✣ ─ */
.controls {
	display: flex;
	gap: var(--spacing-main);
	transition: var(--transition-main);
}

.controls button {
	width: 80px;
	font-family: var(--font-family-main);
	font-size: 1rem;
	color: #fff;
	margin-bottom: 80px;
}

.base-controls {
	position: fixed;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

/* Div 2 Button */
label[for='imageInput'],
.reset-button,
.info-button,
.export-button,
.manualInput {
	padding: 8px 12px;
	border-radius: var(--border-radius-main);
	border: var(--border-main);
	text-align: center;
	font-size: 1.4em;
	background: var(--background-main);
	box-shadow: 0 1px 4px 0 rgb(76 110 245 / 0.07);
	cursor: pointer;
}

/* ─── Data Attr Tooltips ─────────────────────────────────────────────────────────────────── ✣ ─ */
[data-tooltip] {
	position: relative;
	cursor: pointer;
}

[data-tooltip]:before {
	opacity: 0;
	pointer-events: none;
	transition: var(--transition-main);
}

[data-tooltip]:before {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	width: 240px;
	bottom: 120%;
	padding: 8px 12px;
	border-radius: var(--border-radius-sec);
	backdrop-filter: blur(10px);
	background-color: var(--background-main);
	border: var(--border-main);
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 0.9rem;
	line-height: 1.4;
}

[data-tooltip]:hover:before {
	opacity: 1;
}

[data-error]:after {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	width: 240px;
	top: 120%;
	padding: 8px 12px;
	border-radius: var(--border-radius-sec);
	backdrop-filter: blur(10px);
	background-color: var(--background-main);
	border: var(--border-main);
	color: rgb(var(--warning-color));
	content: attr(data-error);
	text-align: center;
	font-size: 0.9rem;
	line-height: 1.4;
}

/* ─── Info Page ──────────────────────────────────────────────────────────────────────────── ✣ ─ */
.info-page {
	position: fixed;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-height: 80vh;
	overflow: auto;
	gap: 24px;
	left: 50%;
	top: 50%;
	width: 70%;
	transform: translate(-50%, -50%);
	background: var(--background-main);
	backdrop-filter: blur(12px);
	border: var(--border-main);
	border-radius: var(--border-radius-sec);
	padding: var(--spacing-main);
	opacity: 0;
	pointer-events: none;
	transition: var(--transition-main);
	box-shadow: 0 0 0 50vmax var(--background-modal);
}

.info-content {
	position: relative;
	width: 95%;
	left: 2.5%;
}

.info-title {
	font-size: 1.4rem;
	text-align: center;
	border-bottom: var(--border-main);
}

.info-page > div {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.info-page .split {
	width: calc(50% - var(--spacing-main));
}

.info-weighted .echo-bar {
	position: relative;
	width: 95%;
	left: 2.5%;
}

.info-explain .highlight {
	display: contents;
	color: rgb(var(--accent-color));
}

.info-explain > .info-content {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-main);
}

.sub-text {
	display: block;
	position: relative;
	font-size: 0.9em;
	color: rgb(var(--muted-color));
	width: 85%;
	left: 7.5%;
	background: rgb(0 0 0 / 0.2);
	padding: 1em;
	border-radius: var(--border-radius-main);
}

/* Tables */
.info-table {
	width: 100%;
}

.info-table .highlight {
	color: rgb(var(--accent-color));
	background: rgb(var(--accent-color) / 0.05);
}

.info-table table {
	position: relative;
	border-collapse: collapse;
	border-style: hidden;
	width: 95%;
	left: 2.5%;
}

.info-table table th,
.info-table table td {
	border: var(--border-main);
	padding: 4px 8px;
}

.info-table table td {
	text-align: center;
}

.info-table tbody tr:not(.highlight) td:nth-child(2),
.info-table tbody tr:not(.highlight) td:nth-child(3) {
	color: rgb(var(--tier-one) / 1);
}

.info-table tbody tr:not(.highlight) td:nth-child(4),
.info-table tbody tr:not(.highlight) td:nth-child(5) {
	color: rgb(var(--tier-two) / 0.8);
}

.info-table tbody tr:not(.highlight) td:nth-child(6),
.info-table tbody tr:not(.highlight) td:nth-child(7) {
	color: rgb(var(--tier-three) / 0.8);
}

.info-table tbody tr:not(.highlight) td:nth-child(8),
.info-table tbody tr:not(.highlight) td:nth-child(9) {
	color: rgb(var(--tier-four) / 0.6);
}

/* ─── Ko-fi ──────────────────────────────────────────────────────────────────────────────── ✣ ─ */
.floatingchat-container {
	width: fit-content !important;
}

.floatingchat-container-wrap {
	left: 0 !important;
	transform: scale(0.8);
}

@media (max-width: 1200px) {
	.info-page > div {
		width: 100% !important;
	}
}

/* ─── Media Queries ──────────────────────────────────────────────────────────────────────── ✣ ─ */
@media (max-width: 800px) {
	.echo,
	.echo.custom {
		width: 90%;
	}
	.card {
		order: -1;
		height: 400px;
	}
	.info-page {
		width: 95%;
	}
	.details {
		flex-direction: column;
	}
	.floatingchat-container-wrap {
		left: calc(50% - 125px) !important;
	}
	.export-button {
		display: none;
	}
}
