/* Variables */
:root {
	--font-family-main: 'Lagu Sans', 'Segoe UI', Arial, sans-serif;

	--background-main: rgba(32, 34, 37, 0.82);
	--background-modal: rgba(2, 4, 7, 0.82);

	--border-main: 1px solid rgba(194, 168, 105, 0.7);
	--border-radius-main: 4px;
	--border-radius-sec: 10px;

	--gradient-main-start: rgba(134, 141, 156, 0.6);
	--gradient-main-stop: rgba(85, 93, 101, 0.3);
	--gradient-sub-start: rgba(237, 228, 217, 0.6);
	--gradient-sub-stop: rgba(219, 201, 153, 0.3);

	--halftone-dotsize: 0.25em;
}

/* Fonts */
@font-face {
	font-family: 'Lagu Sans';
	src:
		local('Lagu Sans Bold'),
		local('Lagu-Sans-Bold'),
		url('./media/font/LaguSans-Bold.woff2') format('woff2'),
		url('./media/font/LaguSans-Bold.woff') format('woff'),
		url('./media/font/LaguSans-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	font-family: var(--font-family-main);
	min-height: 100vh;
	color: #f3f6fa;
}

.canvas {
	position: absolute;
	z-index: -1;
	overflow: hidden;
}

.canvas::before {
	content: '';
	position: fixed;
	left: 50%;
	top: 50%;
	width: 200vmax;
	height: 200vmax;
	transform: translate(-50%, -50%) rotate(45deg);
	background: radial-gradient(circle at center, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2));
	background-size: var(--halftone-dotsize) var(--halftone-dotsize);
}

.canvas img {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	mix-blend-mode: hard-light;
}
.showcase {
	min-height: 100vh;
	display: flex;
	gap: 12px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
}

.backdrop {
	position: fixed;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 98%;
	height: 98%;
	opacity: 0.8;
	z-index: -1;
}

h1 {
	margin-bottom: 36px;
	font-size: 2.4rem;
	font-weight: 600;
	letter-spacing: 2px;
	text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.3);
	text-align: center;
}

.gear-fields {
	display: flex;
	gap: 12px;
	width: 95%;
	flex-wrap: wrap;
	justify-content: center;
}

.gear-fields hr {
	width: 90%;
	border: 1px solid rgba(194, 168, 105, 0.2);
	margin: 0;
}

.gear {
	display: flex;
	opacity: 0;
	transition: opacity 0.5s;
	background: var(--background-main);
	bottom: 0;
	right: 0;
	border-radius: var(--border-radius-sec);
	border: var(--border-main);
	padding: 12px;
	width: max(19%, 280px);
	flex-direction: column;
	align-items: center;
	box-shadow: 0 2px 14px rgba(0, 0, 0, 0.13);
	gap: 12px;
}

.gear-title,
.info-title {
	font-size: 1.05em;
	letter-spacing: 1px;
}

.gear-bar {
	position: relative;
	width: 100%;
	padding: 8px 0;
	border-radius: var(--border-radius-main);
	text-align: center;
	font-size: 0.8em;
	font-weight: 500;
	background: #23283a;
	transition: opacity 0.5s;
	box-shadow: 0 1px 4px 0 rgba(76, 110, 245, 0.07);
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: clip;
}

.gear-bar .title {
	justify-self: flex-start;
	text-align: left;
	flex: 1 1 0;
	padding-left: 10px;
}

.gear-bar .value {
	justify-self: flex-end;
	text-align: right;
	flex: 1 1 0;
	padding-right: 10px;
	font-weight: 600;
	font-size: 0.98em;
}

.showcase[secondary-filter]:hover .gear-bar[secondary-stat],
.showcase[crit-filter]:hover .gear-bar[no-crit] {
	opacity: 0.2;
}

.details {
	display: flex;
	gap: 12px;
	opacity: 0;
	transition: opacity 0.5s;
}

.gear-score {
	display: flex;
	position: relative;
	background: var(--background-main);
	border-radius: var(--border-radius-sec);
	border: var(--border-main);
	padding: 6px 12px;
	width: auto;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size: 1.3rem;
	font-weight: 600;
	letter-spacing: 2px;
	box-shadow: 0 2px 14px rgba(0, 0, 0, 0.13);
}

.gear-score .sub-value {
	font-size: 1.1rem;
}

.sub-value {
	color: rgba(154, 166, 180);
}

label[for='imageInput'] {
	position: fixed;
}

label[for='imageInput'],
.reset-button,
.info-button {
	padding: 8px 12px;
	border-radius: var(--border-radius-main);
	border: var(--border-main);
	text-align: center;
	font-size: 1.4em;
	background: var(--background-main);
	transition: box-shadow 0.12s;
	box-shadow: 0 1px 4px 0 rgba(76, 110, 245, 0.07);
	cursor: pointer;
}

.reset-button,
.info-button {
	font-family: var(--font-family-main);
	font-size: 1rem;
	color: #fff;
	margin-bottom: 80px;
}

.controls {
	display: flex;
	gap: 12px;
}

[data-tooltip] {
	position: relative;
	cursor: pointer;
}

[data-tooltip]:before {
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.2s;
}

[data-tooltip]:before {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	width: 240px;
	bottom: 120%;
	padding: 8px 12px;
	border-radius: 12px;
	backdrop-filter: blur(10px);
	background-color: var(--background-main);
	border: var(--border-main);
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 0.9rem;
	line-height: 1.4;
}

[data-tooltip]:hover:before {
	opacity: 1;
}

[data-error]:after {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	width: 240px;
	top: 120%;
	padding: 8px 12px;
	border-radius: 12px;
	backdrop-filter: blur(10px);
	background-color: var(--background-main);
	border: var(--border-main);
	color: #ff6f6f;
	content: attr(data-error);
	text-align: center;
	font-size: 0.9rem;
	line-height: 1.4;
}

.floatingchat-container {
	width: fit-content !important;
}

.floatingchat-container-wrap {
	left: 0 !important;
	transform: scale(0.8);
}

.info-page {
	position: fixed;
	display: flex;
	gap: 24px;
	left: 50%;
	top: 50%;
	width: 70%;
	transform: translate(-50%, -50%);
	background: var(--background-main);
	backdrop-filter: blur(12px);
	border: var(--border-main);
	border-radius: var(--border-radius-sec);
	padding: 12px;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.5s;
	box-shadow: 0 0 0 50vmax var(--background-modal);
}

.info-content {
	position: relative;
	width: 95%;
	left: 2.5%;
}

.info-title {
	font-size: 1.2rem;
	text-align: center;
	border-bottom: var(--border-main);
}

.info-page > div {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.info-weighted {
	width: 30%;
}

.info-weighted .gear-bar {
	position: relative;
	width: 95%;
	left: 2.5%;
}

.info-explain {
	width: 45%;
}

.info-explain .highlight {
	display: contents;
	color: rgb(194, 168, 105);
}

.info-explain > .info-content {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.expl {
	display: block;
	position: relative;
	font-size: 0.9em;
	color: rgba(154, 166, 180);
	width: 85%;
	left: 7.5%;
	background: rgba(0, 0, 0, 0.2);
	padding: 1em;
	border-radius: var(--border-radius-main);
}

.info-ranks {
	width: 25%;
}

.info-ranks table {
	position: relative;
	border-collapse: collapse;
	border-style: hidden;
	width: 95%;
	left: 2.5%;
}

.info-ranks table th,
.info-ranks table td {
	border: var(--border-main);
	padding: 4px 8px;
}

.info-ranks table td {
	text-align: center;
}

@media (max-width: 1200px) {
	.info-page {
		flex-direction: column;
		max-height: 80vh;
		overflow: auto;
	}
	.info-page > div {
		width: 100%;
	}
}

@media (max-width: 800px) {
	.gear-fields {
		flex-direction: column;
	}
	.gear {
		position: relative;
		width: 80%;
		left: 10%;
	}
	.gear-bar {
		width: 100%;
	}
	.details {
		flex-direction: column;
	}
	.floatingchat-container-wrap {
		left: calc(50% - 125px) !important;
	}
}
